body{
    margin: 0;
    box-sizing: border-box;
}

#outer{
    width: 100vw;
    height: 100vh;
    background-color: darkmagenta;
    position: relative;
}
#moving-icon{
    position: absolute;
    width: 70px;
    height: 70px;
/*    border: 2px white solid;*/
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.moving-icon-inner{
    position: absolute;
    width: 15%;
    height: 15%;
    background-color: white;
}

#icon-1{
    top:0;
    left: 0;
    animation: animation-top 2s linear infinite;
}
#icon-2{
    bottom:0;
    right: 0;
    animation: animation-bottom 2s linear infinite;
}

@keyframes animation-top{ 
    0%,100%{
        transform: scale(1) rotate(0deg);
    }
    25%{
        top:85%; left:0; transform: scale(2) rotate(90deg);
    }
    50%{
        top:85%; left:85%; transform: scale(1) rotate(180deg);
    }
    75%{
        top:0%; left:85%; transform: scale(2) rotate(270deg);
    }
    100%{
        transform: scale(1) rotate(360deg);
    }
}

@keyframes animation-bottom{ 
    0%,100%{
        transform: scale(1) rotate(0deg);
    }
    25%{
        bottom:85%; right:0; transform: scale(2) rotate(90deg);
    }
    50%{
        bottom:85%; right:85%; transform: scale(1) rotate(180deg);
    }
    75%{
        bottom:0; right:85%; transform: scale(2) rotate(270deg);
    }
    100%{
        transform: scale(1) rotate(360deg);
    }
}



